@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root, body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    height: 100vh;
    width: 100vw;
}
.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}
.container> div{
    border:1px solid black;
}

.logo{
    width: 30px;
    height: 30px;
    margin:10px;
    filter: invert(1); /* Invert the logo color */
}
.sidebarTitle {
    display: flex;
    align-items: center;
    margin-bottom:30px;
}

.sidebarList:nth-child(7){
    margin-top: 50px;
}

a, .sidebarList{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.sidebarContainer{
    grid-row: 1/span 2;
    padding:15px;
    background-color: black;
    color: white;
}